*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
#/vendor/
directory/*
#assets/images/directory/master_checksheet
application/config/database.php
assets/images/directory/*

docker-compose.yml
docker/apache/Dockerfile
docker/mysql/init.sql
docker/php/php.ini
